.headerDiv {
  position: fixed;
  z-index: 9999;
  top: 0;
  width: 100%;
}

.outerdiv {
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.innerDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.tagContentForm {
  border: 2px;
  border-style: solid;
  border-color: rgb(100, 100, 100);
  display: block;
  width: 70%;
}

.formHeading {
  display: block;
  text-align: center;
}

.formFieldDiv {
  margin: 20px;
  align-items: center;
  border-bottom: 2px solid rgb(185, 185, 185);
}

.formFieldInput > input,
select,
textarea {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  font-size: medium;
  width: 100%;
  height: 30px;
  border: none;
  background-color: white;
  margin-top: 10px;
}

textarea {
  height: 100px;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.footerheading {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 20px;
}

.formFieldInline {
  display: flex;
  flex-direction: row;
  width: 40%;
  margin: 20px;
}

.select {
  height: 30px;
}

.formbutton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.submit {
  margin-right: 2%;
}

.submitbutton {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  background-color: #673ab7;
  color: white;
  width: 100px;
  height: 30px;
  border: none;

  border-radius: 5px;
}
.formLabel {
  font-size: larger;
}

.myCourses {
  background: none;
  border: none;
  text-decoration: underline;
  color: blue;
}
