.headerDiv {
  display: flex;
  align-items: center;
  background: white;
  padding-top: 5px;
  position: fixed;
  z-index: 9999;
  top: 0;
  width: 100%;
  height: 70px;
  padding-left: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.menuDiv {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 50%;
}

.anchor {
  margin: 10px;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.profile {
  border-left: 2px solid gray;
  padding-left: 10px;
}

.logoutButton {
  margin-left: 10px;
  border-radius: 5px;
  width: 80px;
  padding: 7px;
  border: none;
  background-color: #0d6efd;
  color: white;
}
